html {
  background-image: url('https://cdn.discordapp.com/attachments/404592863154929681/441167800544002069/WoWScrnShot_050218_112254.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
